*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.main-container {
  background-color: white;
  border-radius: 24px;
  width: 400px;
  height: 800px;
  border: 4px solid ghostwhite;
}
