*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block-start: unset;
  margin-block-end: unset;
}

body {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: blue;
  margin-bottom: 12px;
}

main {
  background-color: white;
  border-radius: 24px;
  width: 400px;
  border: 4px solid ghostwhite;
  overflow: clip;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header {
  background-image: url("./assets/worldmap.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  img {
    width: 80px;
    align-self: center;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h1 {
      color: chartreuse;
    }
    p {
      color: white;
    }
  }
}

section {
  border: solid 4px black;
  border-radius: 1rem;
  flex: 1;
  margin: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  textarea {
    width: 100%;
    height: 140px;
    border: solid 1px blue;
    background-color: azure;
    border-radius: 12px;
    overflow: clip;
    resize: none;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    font-family: inherit;
  }
}

.lang-selection-container {
  width: 100%;
  margin-top: 32px;

  h2 {
    text-align: center;
  }
}

#lang-select {
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  align-items: center;
  gap: 4px;

  input[type="radio"] {
    grid-column: 2;
  }

  label {
    grid-column: 3;
  }

  button {
    margin-top: 12px;
    grid-column: 1 / -1;
    height: 48px;
    border: unset;
    border-radius: 12px;
    background-color: steelblue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}
